<div class="card">
  <h5 class="card-header">
    User Details
  </h5>
  <div class="row">
    <div class="card-body col-6">
      <p class="card-title">Username: {{user.username}}</p>
      <p class="card-title">First Name: {{user.firstName}}</p>
      <p class="card-title">Last Name: {{user.lastName}}</p>
    </div>
    <div class="card-body col-6">
      <p class="card-title">User ID: {{user.userId}}</p>
    </div>
  </div>
  <div class="row" *ngFor="let phone of user.phones">
    <div class="card-body col-6" >
      <p class="card-title">Phone ID: {{phone.phoneId}}</p>
      <p class="card-title">Phone Number: {{phone.phoneNumber}}</p>
      <p class="card-title">Verified: {{phone.verified}}</p>
      <p class="card-title">Primary: {{phone.primary}}</p>
      <p class="card-title">Verification Link: {{phone.verificationLink}}</p>
    </div>
    <div class="card-body col-6">
      <p class="card-title">Phone ID: {{phone.phoneId}}</p>
      <button type="button" class="btn btn-primary" (click)="makePrimary(phone)">Make Primary</button>
      <button type="button" class="btn btn-primary" (click)="verifyPhone(phone)">Get Phone Verificaton Link</button>
      <button type="button" class="btn btn-primary" (click)="verify(phone)">Apply Phone Verificaton Link</button>
      <button type="button" class="btn btn-danger" (click)="deletePhone(phone)">Delete Number</button>
    </div>
  </div>
  <app-phone-add (toggleEvent)="receiveToggle($event)" [users]="users" [toggle]="toggle"></app-phone-add>
  <button type="button" class="btn btn-primary" (click)="toggleAddPhone()" *ngIf="!toggle">Add Phone Number</button>
  <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete User</button>
</div>