<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="toggle">
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="Phone Number">
    <small id="phoneHelpBlock" class="form-text text-muted">
      Your phone number must be 10-16 characters long, contain only digits, and must different from current numbers.
    </small>
    <div *ngIf="errors && errors.phoneNumber" class="errors">
        {{errors.phoneNumber}} 
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
</form>