Search: <input type="text" class="input" (input)="searchData($event.target.value)"/>
<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone <i class="fas fa-mobile-alt"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index" (click)="userClick(user)">
      <th scope="row">{{i+1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.phones[0].phoneNumber}}</td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="getPage(page-1)"></ngb-pagination>
<button class="btn btn-outline-primary btn-block" (click)="toggleAddUser()" *ngIf="!toggle"><i class="fas fa-user-plus"></i> Add User</button>
<app-user-add (toggleEvent)="receiveToggle($event)" (userEvent)="receiveUsers($event)" (navEvent)="receiveNav($event)" [toggle]="toggle"></app-user-add>
