
<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.phones[0].phoneNumber}}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-outline-primary btn-block" (click)="add()">Add User</button>
<app-user-add [users]="users"></app-user-add>
