<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="toggle">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username">
    <small id="usernameHelpBlock" class="form-text text-muted">
      Your username must be unique and not be taken
    </small>
    <div *ngIf="errors && errors.username" class="errors">
      {{errors.username}}
    </div>
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First Name">
    <div *ngIf="errors && errors.firstName" class="errors">
      {{errors.firstName}} 
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name">
    <div *ngIf="errors && errors.lastName" class="errors">
      {{errors.lastName}}
    </div>
  </div>
  <div class="form-group" formArrayName="phones">
    <div [formGroupName]="0">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="13065194092">
      <small id="phoneHelpBlock" class="form-text text-muted">
        Your phone number must be 10-16 characters long and contain only digits.
      </small>
      <div *ngIf="errors && errors.phoneNumber" class="errors">
        {{errors.phoneNumber}} 
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
  <button type="button" class="btn btn-primary space" (click)="toggleComponent()">Hide</button>
</form>